<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel</title>
</head>
<body>
<form id="excelUploadForm" name="excelUploadForm" enctype="multipart/form-data" method="post"
      action="/excelUpload">
    <div class="contents">
        <div class="down w90">첨부 파일</div>
        <input id="excelFile" type="file" name="excelFile" style="margin-bottom: 20px;margin-top: 10px;"/>
    </div>

    <div class="bottom">
        <button type="submit">업로드</button>
    </div>
</form>
</body>
</html>